* { padding: 0px;margin: 0px; }
html,body{ padding: 0px;margin: 0px; font-family: 'Regular'; font-size: 16px;font-weight: normal;background: #161A30;color: #fff  }
a { text-decoration: none;color: #019EE2; }
.mr-auto { margin-right: auto !important; }

/*font-face*/
@font-face {
    font-family: 'Regular';
    src: url('../fonts/SharpSans_6.eot');
    src: url('../fonts/SharpSans_6.eot') format('embedded-opentype'),
         url('../fonts/SharpSans_6.woff2') format('woff2'),
         url('../fonts/SharpSans_6.woff') format('woff'),
         url('../fonts/SharpSans_6.ttf') format('truetype'),
         url('../fonts/SharpSans_6.svg#SharpSans_6') format('svg');
}
@font-face {
    font-family: 'Semibold';
    src: url('../fonts/SharpSans_10.eot');
    src: url('../fonts/SharpSans_10.eot') format('embedded-opentype'),
         url('../fonts/SharpSans_10.woff2') format('woff2'),
         url('../fonts/SharpSans_10.woff') format('woff'),
         url('../fonts/SharpSans_10.ttf') format('truetype'),
         url('../fonts/SharpSans_10.svg#SharpSans_10') format('svg');
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/SharpSans_12.eot');
    src: url('../fonts/SharpSans_12.eot') format('embedded-opentype'),
         url('../fonts/SharpSans_12.woff2') format('woff2'),
         url('../fonts/SharpSans_12.woff') format('woff'),
         url('../fonts/SharpSans_12.ttf') format('truetype'),
         url('../fonts/SharpSans_12.svg#SharpSans_12') format('svg');
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0f1224 inset !important;
    background: #222;
  color: #eee;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}
.text-danger{
    width: 85%;
    display: block;
    background-color: #9f1e1e54;
    font-weight: 600;
    margin: 5px auto 0px;
    padding: 3px 20px;
    text-align: left;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid red;
}
/*new css*/
div#toggle {
    margin: 0px 0 -15px 25px;
    align-items: center;
    border: 1px solid #3b4166;
    background: #222744;
    border-radius: 10px;
    padding: 7px 9px;
    justify-content: center;
    text-decoration: none !important;
}
@media screen and (min-device-width: 200px) and (max-device-width: 960px){
#side-nav {
    width: 0;
}
#table_id_wrapper, #table_id1_wrapper, #table_id2_wrapper, #table_id3_wrapper {
    overflow: auto;
    border: 2px solid #3b4166;
    padding: 40px 5px;
    border-radius: 25px;
}
div#toggle {
    display:block !important;
    margin: 0px 0 0px 15px;
    align-items: center;
    border: 1px solid #3b4166;
    background: #222744;
    border-radius: 10px;
    padding: 7px 9px;
    justify-content: center;
    text-decoration: none !important;
}
}
@media screen and (min-device-width: 200px) and (max-device-width: 500px) {
    .table-site tr td, .table-site tr th {
        padding: 12px 4px !important;
        font-size: 12px;
    }
}
#table_id_wrapper, #table_id1_wrapper, #table_id2_wrapper {
    margin: 40px 0 0 0;
}
/*new css*/

/*font-face*/
.login-btn {
    height: 52px !important;
    line-height: 22px !important;
}
.btn { height: 50px;line-height: 46px;font-size: 16px;border-radius: 10px;padding: 0px 25px;color: #fff;font-family: 'Semibold'; }
.btn-blue { background: #fff; color: #000 !important;box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px;} 
.btn-green { background: #019EE2; color: #fff !important;box-shadow: rgba(4, 220, 255, 0.4) 0px 5px 20px;} 
.navbar-nav li a { color: #fff;font-size: 15px;padding: 13px 15px !important;font-family: "Semibold"; }
.btn-social a { background: #1D9BF0; height: 50px;width: 50px;min-width: 42px;margin: 0px 5px; border-radius: 50%;display: inline-flex;align-items: center;justify-content: center;font-size: 17px;color: #fff; }
.menu-btn { align-items: center; }
.btn-social { display: inline-flex;margin-right: 15px; }
header { padding: 15px 0px;position: fixed;left: 0;top: 0;width: 100%;z-index: 99;transition: 0.3s ease-in-out;}
body.fixed header { background: #161A30;padding: 5px 0px; }
.header-btns a { min-width: 120px;margin-left: 10px }
.home-banner { overflow: hidden; position: relative;height: 700px;z-index: 1;display: flex;align-items: center;justify-content: center; }
.home-banner:after { opacity: 0.6;content: ""; background: url(../images/banner-home.png) no-repeat;background-size: cover;background-position: center;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;filter: blur(30px); }
.home-banner article { max-width: 720px;text-align: center;position: relative;margin-top: -30px; }
.home-banner article h1 { font-size: 65px;font-family: "Bold";margin-bottom: 0; }
.home-banner article span { text-transform: uppercase;letter-spacing: 5px;font-size: 18px;font-family: "Semibold" }
.home-banner article p { font-size: 16px;font-family: "Semibold" }
.btn-home a { min-width: 150px;margin: 0px 7px; }
.btn-home { margin-top: 30px; }
.home-banner:before { content: "";background: url(../images/intersection.png) no-repeat;background-size: 100% 100%; position: absolute;bottom: 0;left: 0;height: 100px;width: 100%;}
.shape-1 { position: absolute;left: 0;top: 10%;width:220px; pointer-events: none; }
.shape-2 { position: absolute;right: 0;top: 5%;width:340px; pointer-events: none; }
.heading-text { margin-bottom: 15px; }
.heading-text h4 { padding-bottom: 15px; display: inline-block;position: relative;font-size: 40px;font-family: "Bold";margin-bottom: 30px; }
.heading-text p { font-family: "Semibold";line-height: 28px; }
.heading-text h4:after { content: "";height: 7px;background: #019EE2;width: 100%;position: absolute;left: 0;bottom: 0; }
.about-sec-main p { font-size: 16px;font-family: "Semibold"  }
.about-3-blk { margin-top: 100px; }
.about-3-blk figure { margin-bottom: 40px; width: 80px;height: 80px;border-radius: 25px;background: #fff;display: flex;align-items: center;justify-content: center; }
.about-3-blk figure img { width: 50%; }
.about-3-blk h4 { color: #019EE2;font-size: 26px;font-family: "Bold"; }
.about-3-blk p {  }
.about-3-blk article { padding-right: 15px; }
.section-padd { padding: 80px 0px; }
.blue-light-area { position: relative;z-index: 1 }
.blue-light-area:after { content: ""; background: url(../images/blue.jpg) no-repeat;background-position: left;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;filter: blur(30px);}
.tokenomics-sec figure img { width: 85px; }
.tokenomics-sec .col-md-2 { text-align: center; }
.tokenomics-sec .col-md-2 p { font-size: 14px;margin-bottom: 0; }
.tokenomics-sec .col-md-2 h4 { font-size: 15px;font-family: "Bold" }
.roadmap-sec-li ul { position: relative;max-width: 1000px;margin: 0px auto; }
.roadmap-sec-li ul:after { content: "";width: 5px;height:85%;position: absolute;left: 49.8%;background: #fff;top: 69px; } 
.roadmap-sec-li ul li { display: flex;margin-bottom: 30px; }
.roadmap-sec-li ul li:last-child { margin-bottom: 0; }
.roadmap-sec-li ul li .roadmap-box { position: relative; width: 40%;text-align: center;background: rgba(0,0,0,0.4);border: 1px solid rgba(255,255,255,0.2);border-radius: 15px;height: 150px;display: flex;align-items: center;justify-content: center;padding: 15px;padding-bottom: 0;box-shadow: 0px 30px 87px #0890d61c; }
.roadmap-sec-li ul li:nth-child(even) .roadmap-box { margin-left: auto; }
.roadmap-box h4 { font-size: 20px;font-family: "Bold";font-size: 20px;font-family: "Bold";position: absolute;top: 0;left: 0;text-align: center;width: 100%;background: linear-gradient(135deg, #019ee2 0%,#393286 100%);padding: 8px;border-radius: 15px 15px 0px 0px; }
.roadmap-box p { margin-bottom: 0px;font-size: 16px;margin-top: 20px; }
.roadmap-sec-li ul li .roadmap-box:after { content: "";width: 102px;height: 2px;position: absolute;background: #fff;top: 50%;right: -102px;}
.roadmap-sec-li ul li:nth-child(even) .roadmap-box:after { content: "";width: 100px;height: 2px;position: absolute;background: #fff;top: 50%;left: -100px;}
.roadmap-sec-li ul li .roadmap-box:before { content: "";width: 30px;height: 30px;position: absolute;background: #019EE2;border: 4px solid #fff;border-radius: 50%;top: 41%;right: -117px;z-index: 1;box-shadow: 0px 5px 24px #0890d6;}
.roadmap-sec-li ul li:nth-child(even) .roadmap-box:before { left: -115px;right: auto; }
.phase-sec ul { display: flex;justify-content: space-between; max-width: 1050px; margin: 0px auto;position: relative;z-index: 1 }
.phase-sec ul:after { content: "";
position: absolute;
left: 110px;
width: 80%;
height: 5px;
border-bottom: 1px dashed #fff;
top: 52px;
z-index: -1; }
.phase-sec ul li { width: 30%;text-align: center;list-style: none; }
 .phase-sec ul li figure{ border-radius: 20px;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#019EE2+0,1445cc+100 */
background: #019EE2; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #019EE2 0%, #1445cc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #019EE2 0%,#1445cc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #019EE2 0%,#1445cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#019EE2', endColorstr='#1445cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width: 115px;height: 115px;display: flex;align-items: center;justify-content: center;margin: 0px auto;padding: 12px; }
.phase-sec ul li figure .fig-in { background:#161A30;height: 100%;width: 100%;border-radius: 15px; font-family: "Semibold";display: flex;align-items: center;justify-content: center;}
.phase-sec { margin-top: 60px; }
.phase-sec h4 { margin-top: 30px;font-family: "Semibold" }
.phase-sec p { font-size: 14px; }
.form-control { height: 50px;border-radius: 10px;border: none; }
.news-latter { background: #0F1226;padding: 70px 0px; }
.news-latter-in { display: flex;max-width: 1050px;margin: 0px auto }
.news-latter-in .news-latter-form { width: 100%;display: flex; }
.news-latter-in .news-latter-text { min-width: 400px; }
.news-latter-in .news-latter-text h4 { font-size: 30px;font-family: "Bold";margin-bottom: 0 }
.news-latter-in .news-latter-text p { font-size: 18px;font-family: "Semibold";margin-bottom: 0 }
.news-latter-in button,.news-latter-in input { height: 60px; }
.news-latter-in button { min-width: 192px;margin-left: 15px; }
.news-latter-in input { background: #1E2340;padding: 0px 20px; }
.foot-icon a { width: 50px;height: 50px;border-radius: 50%;display: inline-flex;align-items: center;justify-content: center;margin-right: 10px;color: #fff;background: #019EE2;font-size: 20px; }
ul,ul li { list-style: none; }
.f-link-head { color: #887C91;font-size: 18px;font-family: "Semibold";letter-spacing: 4px;text-transform: uppercase; margin-bottom: 20px;}
.footer-link li a { color: #fff;font-size: 14px;font-family: "Semibold";padding: 8px 0px;display: block;  }
.footer-last-in { text-align: center;padding: 30px 0px;font-size: 14px;border-top: 1px solid #303347; }
.navbar-brand,.foot-logo { width: 150px;display: inline-block; }
.navbar-brand img,.foot-logo img { width: 100%; }
.foot-logo { margin-bottom: 20px; }
.chart { width: 632px !important;height: 400px !important;margin: 0px auto }
.tokenomics-sec-chart { margin-top: 60px; margin-bottom: 60px;}


/*login css*/
.login-wraper { position: relative;z-index: 1;margin-top: 50px; }
.login-bg { overflow: hidden; position: fixed;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;z-index: -1; }
.login-bg img { width: 100%;height: 100%;object-position: left;object-fit: cover;filter: blur(30px); }
.login-box { max-width: 400px;margin: 0px auto;text-align: center;padding: 0px 20px }
.logo-in-page img { width: 170px;margin-bottom: 30px; }
.logo-in-page h4 { font-family: "Semibold";margin-bottom: 30px; }
.input-site {  }
.form-group { margin-bottom: 15px; }
.input-site .form-control {border: 1px solid #72747a75; background: #0f1224;font-size: 14px;padding: 0px 20px;color: #fff;height: 50px; }
.forgot-text h6 { font-size: 16px; }
.input-site label { font-family: "Semibold" }
.forgot-text a { font-family: "Semibold"; }
/*login css*/

/*dashboard*/
.dashboard-header { display: flex;align-items: center;padding: 20px 30px;background: #0f1224;border-bottom: 1px solid #272d51;position: fixed;width: 100%;top: 0;left: 0;z-index: 1;}
.dashboard-header .header-out { margin-left: auto; }
.dashboard-header .header-out a { color: #fff;font-family:"Bold"; }
.dash-logo img { width: 120px; }
.side-menu { width: 270px; position: fixed;bottom: 0;height: calc(100% - 80.85px);background: #0f1224;border-right: 1px solid #272d51;padding: 20px; }
.side-menu li { margin-bottom: 8px; }
.side-menu li a { font-family: "Semibold"; padding: 12px;display: block;font-size: 14px;color: #7a7e97;display: flex;align-items: center;text-decoration: none !important;border-radius: 10px; }
.side-menu li a i { width: 30px;font-size: 16px; }
.side-menu li a:hover { background: #7a7e97;color: #fff; } 
.side-menu li.active a { background: #019EE2;color: #fff; }
.dashboard-safearea { padding-top: 80.85px;padding-left: 270px; }
.dashboard-container { padding: 30px; }
.puno-wallet-box .row figure { box-shadow: 0 5px 10px #42444a;width: 70px;height: 70px;color: #fff;display: flex;align-items: center;justify-content: center;border-radius: 20px;font-size: 30px;min-width: 70px;margin-bottom: 0; }
.puno-wallet-box .row .col-md-4:nth-child(1) figure { background: linear-gradient(to bottom right, #9e88f5 0%, #6259ca 100%) !important; }
.puno-wallet-box .row .col-md-4:nth-child(2) figure,.buy-puno-box figure { background-image: linear-gradient(to bottom right, #f1bf64 0%, #f71d36 100%) !important; }
.puno-wallet-box .row .col-md-4:nth-child(3) figure { background: linear-gradient(to bottom right, #4be8d4 0%, #129bd2 100%) !important; }
.puno-wallet-box .row article { padding: 30px;background-color: #272d51;border-radius: 25px;display: flex; } 
.puno-wallet-box .row figcaption { width: 100%;padding-left: 20px; }
.puno-wallet-box .row article h4 { font-size: 20px;font-family: "Semibold";margin-top: 5px; }
.puno-wallet-box .row article p { margin-bottom: 0; }
.puno-link { margin-top: 40px; }
.puno-link label { display: block;font-family: "Bold";font-size: 24px; }
.puno-link  article { padding: 30px;background-color: #272d51;border-radius: 25px;min-height: 155px; }
.puno-link span, .input-feild {
    display: block;
    background: #151a33;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    color: #fff;
    padding: 0px 15px;
    border: 1px solid #3b4166;
    font-size: 14px;
}
.dashboard-head h4 { font-size: 20px;font-family: "Bold";margin-top: 5px;text-transform: uppercase;margin-bottom: 20px; }
.dashboard-head { margin-bottom: 30px;border-bottom: 1px solid #272d51; }
.qr-box figure { width: 200px;height: 200px; }
.qr-box figure img { width: 100%; }
.table-responsive tbody { width: 100%;display: table; }
.table-site th {  text-transform: uppercase;font-family: "Semibold";font-size: 14px; border-bottom: 2px solid #3b4166 !important;}
.table-site tr td,.table-site tr th { padding:15px 10px !important;font-size: 14px; }
.user-info h4 { font-size: 18px;font-family: "Semibold";margin-bottom: 0; }
.user-info span { font-size: 13px; }
.table-site tr:nth-child(even) td { background: #2e324d; }
.table-site tr:nth-child(even) td:first-child { border-radius: 10px 0px 0px 10px; }
.table-site tr:nth-child(even) td:last-child { border-radius: 0px 10px 10px 0px; }
.input-with-opt { position: relative; }
.input-with-opt select { min-width: 200px; border-radius: 0px 10px 10px 0px; position: absolute;right: 3px;height: 48px;top: 1px;padding:0px 15px;background: #000;color: #fff;border:none;font-family: "Semibold" }
.input-with-opt select option { font-family: "Semibold !important"; }
.link-copy { display: flex; }
.link-copy p { line-height: 50px; border: 1px solid #272d51; background: #0f1224;font-size: 14px;padding: 0px 20px;color: #fff;height: 50px;border-radius: 10px;width: 100%; }
.link-copy .btn { min-width: 120px;margin-left: 10px; }
/*dashboard*/




